@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #130b10;
}

a {
  color: rgb(199, 208, 216) !important;
  text-decoration: none !important;
}

a:hover {
  scale: 110%;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  box-sizing: border-box;
}
